/* global styles  */

:root {
  --theme-primary-font: "Inter", sans-serif;
  --theme-primary-color: #e6533c;
  --theme-primary-dark-color: #ad4231;
  --theme-neutral-color: #ffffff;
  --theme-neutral-10: rgba(255, 255, 255, 0.1);
  --theme-text-color: rgba(255, 255, 255, 0.5);
  --theme-background-color: #000000;
  --container-width: 1060px;
  font-size: 16px;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--theme-background-color);
}

/* resets  */

body {
  font-family: var(--theme-primary-font);
  line-height: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--theme-neutral-color);
  line-height: 1.2;
}

p {
  color: var(--theme-text-color);
  line-height: 1.7;
}

a {
  text-decoration: none;
  display: inline-block;
  color: var(--theme-neutral-color);
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

/* reusable classes  */

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: var(--container-width);
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.flex-col {
  flex-direction: column;
}

.text-start {
  text-align: start;
}
.text-center {
  text-align: center;
}
.text-end {
  text-align: end;
}

/* globals  */

.btn {
  padding: 16px 40px;
  border-radius: 42px;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid transparent;
  transition: background-color 300ms ease-in-out;
}

.btn-primary {
  background-color: var(--theme-primary-color);
}

.btn-primary:hover {
  background-color: var(--theme-primary-dark-color);
}

.btn-outline {
  border-color: var(--theme-neutral-color);
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.btn-outline:hover {
  background-color: var(--theme-neutral-color);
  color: var(--theme-background-color);
}

/* navbar */

.navbar {
  padding: 69px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.ham-burger-icon {
  display: none;
}

.logo {
  font-size: 36px;
  font-style: italic;
  color: var(--theme-primary-color);
}

.nav-items {
  padding: 4px;
  list-style: none;
  gap: 47px;
  border: 1px solid var(--theme-neutral-10);
  border-radius: 39px;
  overflow: hidden;
}

.nav-link {
  padding: 8px 20px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 46px;
  background-color: transparent;
  transition: background-color 300ms ease-in-out;
}

.nav-link.active {
  background-color: var(--theme-primary-color);
}

.nav-link:hover {
  background-color: var(--theme-primary-color);
}

/* banner  */

.banner {
  padding-top: 160px;
  background-image: url("./images/banner/banner-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.banner-text-wrap {
  max-width: 520px;
}

.banner-title {
  font-size: 78px;
  font-weight: 900;
}

.highlight {
  font-style: italic;
  font-weight: 300;
}

.banner-wrap {
  gap: 54px;
}

.banner-description {
  margin: 28px 0;
}

.banner-btn-group {
  gap: 14px;
}

.banner-img {
  max-width: 349px;
  height: 580px;
  object-fit: contain;
}

.banner-image-wrap {
  position: relative;
}

/* workout */

.workout,
.video-tutorial {
  padding: 20px 23px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(10px);
  position: absolute;
  z-index: 2;
}

.workout {
  top: 115px;
  right: -90px;
}

.workout h3 {
  color: #fafaf9;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 0.3px;
}

.workout p {
  color: rgba(255, 255, 255, 0.65);
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
}

.video-tutorial {
  gap: 12px;
  left: -66px;
  bottom: 63px;
}

.video-tutorial h3 {
  color: #fafaf9;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 0.3px;
}

.video-tutorial-content p {
  color: var(--Text-2, rgba(239, 237, 232, 0.65));
  letter-spacing: 0.5px;
}

/* footer  */

footer {
  padding: 66px 35px;
  background: rgba(255, 255, 255, 0.1);
}

.footer-wrap {
  gap: 101px;
}

.footer-text-wrap {
  max-width: 451px;
  gap: 20px;
}

.footer-logo {
  color: var(--theme-primary-color);
  font-size: 70px;
  font-style: italic;
  font-weight: 800;
  line-height: 1;
}

.footer-nav-wrap {
  gap: 108px;
}

/* get started  */

.get-started {
  max-width: 182px;
}

.fitness-get {
  max-width: 182px;
}

.get-started,
.fitness-get {
  gap: 40px;
}

.footer-title {
  font-size: 32px;
  font-weight: 700;
}

.footer-links {
  gap: 20px;
}

.footer-link-item {
  color: rgba(255, 255, 255, 0.5);
  font-size: 23px;
  line-height: 1.2;
  transition: color 300ms ease-in-out;
}

.footer-link-item:hover {
  color: white;
}

/* habit  */

.habit {
  padding: 100px 0 100px;
}

.section-title {
  margin-bottom: 14px;
  font-size: 48px;
  font-weight: 900;
}

.habit-title {
  text-align: center;
}

.habit-paragraph {
  max-width: 685px;
  text-align: center;
}

.habits {
  margin-top: 58px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.habit-item {
  gap: 30px;
}

.habit-image-wrap {
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.1);
}

.habit-image {
  transition: transform 500ms ease-in-out;
}

.habit-item:hover .habit-image {
  transform: scale(1.1);
}

.habit-title {
  margin-bottom: 3px;
}

.habit-content {
  font-size: 14px;
}

/* teams  */

.teams {
  padding: 88px 0;
}

.team-members {
  margin-top: 58px;
  padding: 20px;
  border-radius: 18px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background: rgba(255, 255, 255, 0.1);
}

.member {
  height: 272px;
  position: relative;
  border-radius: 18px;
  overflow: hidden;
}

.member-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 700ms ease-in-out;
}

.member:hover .member-image {
  transform: scale(1.1);
}

.member-details {
  position: absolute;
  left: 19px;
  bottom: 16px;
}

.member-title {
  font-size: 20px;
  font-weight: 900;
}

/* run  */

.run {
  padding-bottom: 100px;
}

.run-wrapper {
  padding: 30px 32px 30px 54px;
  border-radius: 18px;
  background-color: #222;
  gap: 20px;
}

.run-content-wrap {
  max-width: 412px;
}

.run-paragraph {
  margin-bottom: 34px;
}

.run-image-wrap {
  width: 366px;
  height: 312px;
  overflow: hidden;
  border-radius: 18px;
  flex-shrink: 0;
}

.run-image-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-run {
  padding-left: 70px;
  padding-right: 70px;
}

.run-image {
  display: block;
}

.run-mobile {
  display: none;
}

/* training  */

.training-paragraph {
  max-width: 685px;
}

.training-gallery {
  margin-top: 58px;
}

.training-item {
  position: relative;
  overflow: hidden;
}

.training-item p {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  position: absolute;
  z-index: 2;
}

.green p {
  left: 24px;
  bottom: 28px;
}

.red p {
  color: white;
  left: 24px;
  top: 28px;
}

.light-black p {
  max-width: 176px;
  color: white;
  left: 24px;
  bottom: 28px;
}

.green {
  width: 250px;
  height: 202px;
}
.red {
  width: 520px;
  height: 202px;
}
.light-black {
  width: 290px;
  height: 202px;
}

.black {
  width: 435px;
  height: 202px;
}

.black p {
  max-width: 176px;
  color: white;
  right: 24px;
  top: 28px;
}

.light-green {
  width: 288px;
  height: 202px;
}

.light-green p {
  max-width: 176px;
  color: white;
  left: 24px;
  bottom: 28px;
}

.light-blue {
  width: 347px;
  height: 202px;
}

.light-blue p {
  max-width: 176px;
  color: white;
  left: 24px;
  bottom: 28px;
}

.training-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 500ms ease-in-out;
}

.training-item:hover img {
  transform: scale(1.1);
}

/* bmi  */

.bmi-title-wrap {
  max-width: 671px;
  margin: 88px auto;
}

.bmi {
  padding: 49px 0 52px;
  background-color: #222;
}

.bmi-title {
  font-size: 28px;
  font-weight: 900;
}

.bmi-chart {
  max-width: 310px;
  gap: 52px;
}

.bmi-form {
  max-width: 577px;
}

table {
  border-collapse: collapse;
}

td,
th {
  text-align: start;
  padding: 15px 20px 14px 18px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

th {
  font-weight: 500;
}

td {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}

.bmi-from-paragraph {
  margin-top: 14px;
}

.bmi-form {
  gap: 34px;
}

.bmi-main-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.form-control {
  width: 100%;
  height: 48px;
  font-family: var(--theme-primary-font);
  font-size: 16px;
  border: 0;
  outline: 0;
  font-weight: 300;
  border: 1px solid transparent;
  padding: 12px 40px 12px 20px;
  border-radius: 8px;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  transition: border-color 300ms ease-in-out;
}

.form-control:focus-visible {
  border-color: var(--theme-primary-color);
}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.activity {
  grid-column: 1 / 3;
}

.submit-btn {
  margin-top: 24px;
  font-size: 18px;
  font-weight: 400;
  color: white;
}

select {
  appearance: none;
}

.select-arrow {
  position: relative;
}

.select-activity {
  grid-column: 1 / 3;
}

.select-arrow::after {
  content: url("./images/arrow-down.svg");
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  pointer-events: none;
}
